@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");


.navbar{
    background-color: #5d99c6;
}

.bg-border {
    border-color: #5d99c6;
}

.portal{
    color: var(--bs-black);
    padding: 10px;
    font-size: 40px;
    text-align:right;
    margin: 0px auto;
    
}

.album {
    background-color: #e6ecff;
    padding: 20px;
}

footer {
    background-color: #5d99c6;
    color: black;
}

.mb-0 {
    color: black;
}

.navbar-toggler {
    border: 10px;
}

.navbar-toggler-icon {
    border-color: white;
}

.collapse {
    background-color: #5d99c6;
}

.main-eleicoes container-lg{
    background-color: #f3f4f9;
}

p{
    font-size: 18px;
}

    
.fw-light {
    font-family: 'Anton', sans-serif;
    margin: 0px;
    padding-top: 0px;
    color: #5d99c6
    
}

h1{
    padding-top: 50px;
    font-weight: bold;
    
}

h2 {
    padding: 40px 0;
    font-weight: bold;
    color: #5d99c6;
}

.votacao {
    display: block;
    margin: 0px auto;
}

.p {
    padding: 1% 1% 1% 1%;
    max-width: 800px;
    margin: 0px auto;
    text-align: justify;
}

header {
    width: 100%;
}
body {
    width: 100%;
}


a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.card-text:hover {
    cursor: pointer;
}

a {
    color: #5d99c6;
}

img {
    padding-top: 30px;
}

.container.div-conteudo,
.container-fluid.font-modal {
    padding: 1% 1% 1% 1%;
}